@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');

*,
html {
    margin: 0;
    padding: 0;
    font-family: 'Epilogue', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    transition: background-color 3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-color: aliceblue;
    user-select: none;
}

.body2 {
    overflow-x: hidden;
    background-color: rgb(47, 42, 42);
    user-select: none;
}
.load{
    overflow: hidden;
}

.loading {
    z-index: 10;
    position: fixed;
    /* animation: myAnim 2s ease 0s infinite normal forwards; */
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-image: url(assets/Icon/rizlogo.svg);
    background-size: cover;
}
.loading--bg {
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(30px);
}

@keyframes myAnim {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

.container {
    position: fixed;
    backdrop-filter: blur(20px);
    align-items: center;
    border-color: gray;
    height: 40px;
    width: 100%;
    top: 0;
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2); */
    z-index: 4;
    border-bottom: solid 1px gray;
}

.bg--nav {
    height: 42px;
    background-color: gray;
    width: 100%;
}

li {
    list-style: none;
}

.text {
    margin-top: 4.5px;
    position: relative;
    font-size: 1em;
}

#listnav, #sosialnav, #infonav, #carinav {
    color: aliceblue;
    text-decoration: none;
    text-shadow: 0 0 3px gray, 0 0 5px gray;
    font-family: 'Poppins', sans-serif;
}

.text:hover {
    filter: brightness(50%);
    transition: ease-in 0.3s;
}

.style {
    align-items: center;
    position: relative;
    display: flex;
    gap: 30px;
    padding-right: 5px;
}

.bg {

    background-color: gray;
    height: 40px;
    width: 100%;
    opacity: 80%;
    position: fixed
}

.logo {
    transition: 3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin-top: 4.5px;
    opacity: 90%;
    margin-left: 15px;
    /* border: 1px solid gray; */
    border-radius: 5px;
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-image: url(assets/Icon/rizlogo.svg);
    background-size: cover;
}

.kotak::-webkit-scrollbar {
    width: 0px;
    height: 2px;
}

.kotak::-webkit-scrollbar-track {
    box-shadow: inset aliceblue;
}

.kotak::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

::-webkit-scrollbar-track {
    box-shadow: inset aliceblue;
}

::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}

body::-webkit-scrollbar {
    width: 10px;
    height: 0px;
    background-color: rgb(181, 185, 189);
}

body::-webkit-scrollbar-track {
    box-shadow: inset aliceblue;
}

body::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 0;
}

.kotak {
    padding: 10px;
    display: flex;
    gap: 5px;
    height: 150px;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding: 250px;
    column-gap: 20px;
}

.kartu {
    scroll-snap-align: start;
    border-radius: 5px;
    margin-left: 50px;
    background-repeat: no-repeat;
    background-size: contain;
}

.header {
    transition: color 3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin: 5px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    font-weight: 500;
    color: gray;
    height: 25px;
    border-bottom: 1px solid rgb(194, 203, 210);
}

.header2 {
    transition: color 3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin: 5px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    font-weight: 500;
    color: aliceblue;
    height: 25px;
    border-bottom: 1px solid gray;
}

.containerlist {
    height: 300px;
    overflow: hidden;
}

#kotak2 {
    padding: 10px;
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: scroll;
}

.pilihlist {
    color: gray;
    padding: 5px;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.serial {
    margin: 5px;
    display: block;
    overflow: scroll;
    border-radius: 10px;
    border: solid 2px gray;
    height: 230px;
    animation: fadeIn 1s;
}

.serial h4 {
    z-index: 2;
    position: absolute;
    width: fit-content;
    border-radius: 5px 0px 5px 0px;
    background-color: gray;
    font-weight: lighter;
    padding: 5px;
    color: aliceblue;
}

.web {
    animation: fadeIn 1s;
    margin: 5px;
    display: none;
    overflow: scroll;
    border-radius: 10px;
    border: solid 2px gray;
    height: 230px;
}

.web h4 {
    z-index: 2;
    position: absolute;
    width: fit-content;
    border-radius: 5px 0px 5px 0px;
    background-color: gray;
    font-weight: lighter;
    padding: 5px;
    color: aliceblue;
}

.cardo {
    justify-content: center;
    align-content: center;
    padding: 27px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.label {
    display: table-cell;
    text-align: center;
    text-justify: center;
    font-size: small;
    position: relative;
    height: 175px;
    width: 115px;
    vertical-align: bottom;
    text-shadow: 0 1px 3px black;
    color: white;
}

.decorationlabel {
    display: block;
    height: 180px;
    width: 100%;
    text-decoration: none;
}

.fppost {
    position: static;
    margin: 3px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.ffp {
    display: block;
    flex: 30%;
    overflow: scroll;
    height: 640px;
    padding-bottom: 10px;
    width: fit-content;
    margin: auto;
    border: 2px solid gray;
    border-radius: 5px;
}

.fchat {
    display: block;
    flex: 30%;
    padding-left: 5px;
    padding-right: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 640px;
    padding-bottom: 10px;
    width: fit-content;
    margin: auto;
    border: 2px solid gray;
    border-radius: 5px;
}

.elf {
    height: 20px;
}
.headerfp {
    z-index: 1;
    position: absolute;
    width: 100px;
    border-radius: 3px 0px 3px 0px;
    background-color: gray;
    font-weight: lighter;
    padding: 5px;
    color: aliceblue;
}
.ig{
    transform: translateX(-5%);
}
.pilihlist button {
    text-align: center;
    background-color: gray;
    color: aliceblue;
    border: solid 1px gray;
    height: 25px;
    width: 45px;
    cursor: pointer;
    border-radius: 3px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.pilihlist button:hover {
    background-color: #5c5c5c;
}

.info {
    width: 100%;
    background-color: gray;
    height: 100%;
}

.deskripsifoot {
    width: 100%;
    color: aliceblue;
    margin-top: 10px;
    position: relative;
    line-height: 1.6;
    font-size: smaller;
    /* margin-left: 65px; */
    width: 80%;
    text-align: center;
    text-justify: center;
}

.sosmed {
    margin: 5px;
    height: 30px;
    border-bottom: 1px solid aliceblue;
}

.headerinfo {
    transition: 3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    font-weight: 500;
    color: gray;
    height: 25px;
}

.headerinfo2 {
    transition: 3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-weight: light;
    color: aliceblue;
    height: 25px;
}

.toggle {
    position: absolute;
    opacity: 0%;
    margin-top: 5px;
    margin-right: 5px;
    transform: translate(15px);
    border: none;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: rgb(47, 42, 42);
    cursor: pointer;
    color: aliceblue;
}

.sosmed {
    align-content: center;
    justify-content: center;
    display: flex;
    gap: 15px;
}

.sosmed a {
    margin-top: 5px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
    font-size: small;
}

.sosmed a:hover {
    color: #5c5c5c;
    font-size: small;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.power p {
    font-size: small;
    font-family: 'Poppins', sans-serif;
}

.bawah {
    align-content: center;
    justify-content: center;
    display: flex;
    gap: 10px;
    border-top: 1px solid aliceblue;
    margin: 5px;
}

.bawah>p {
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
    position: relative;
    line-height: 1.6;
    font-size: 0.9em;
    font-size: smaller;
}

.search {
    background: transparent;
    border: none;
    border-bottom: solid 1px aliceblue;
    height: 20px;
    box-sizing: border-box;
    display: inline-block;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
}

.search::placeholder {
    color: aliceblue;
}

.search:focus::placeholder {
    color: rgb(167, 170, 173);
    transition: color 0.6s linear;
}

.search:focus {
    transition: border-bottom 0.6s linear;
    outline: none;
    border-bottom: solid 1px rgb(167, 170, 173);
}

input::-webkit-calendar-picker-indicator {
    opacity: 0%;
}

/* List manga */
.list {
    box-shadow: inset 0px -15px 20px -15px black;
    height: 180px;
    border-radius: 5px;
    width: 120px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: 0.3s;
    cursor: pointer;
    background-position: center;
}

.list:hover {
    background-size: 120% 120%;
}

.ichika {
    background-image: url(https://pbs.twimg.com/media/FaHhwZLUcAE0_3G?format=jpg&name=360x360);
}

.trinity {
    background-image: url(https://pbs.twimg.com/media/FaHhUBzUEAIg80n?format=jpg&name=360x360);
}

.hatsukoi {
    background-image: url(https://pbs.twimg.com/media/FaHh5hMVUAAUXD8?format=jpg&name=small);
}

.cuprum {
    background-image: url(https://pbs.twimg.com/media/FaHh5hKVQAEr1RY?format=jpg&name=360x360);
}

.isekai {
    background-image: url(https://pbs.twimg.com/media/FaHh5hPVsAAc6xF?format=jpg&name=360x360);
}

.rokudo {
    background-image: url(https://pbs.twimg.com/media/FaHhnWzUsAIr_5O?format=jpg&name=360x360);
}

.kuroha {
    background-image: url(https://pbs.twimg.com/media/FaHhwZMUcAAaOjj?format=jpg&name=360x360);
}

.accelerator {
    background-image: url(https://pbs.twimg.com/media/FaHh5hLUIAEgdUX?format=jpg&name=360x360);
}

.koisuru {
    background-image: url(https://pbs.twimg.com/media/FaHhwZLUEAAt7B8?format=jpg&name=360x360);
}

.hyouka {
    background-image: url(https://pbs.twimg.com/media/Em_PDzLWEAE50h3?format=jpg&name=4096x4096);
}

.dorei {
    background-image: url(https://pbs.twimg.com/media/FaHhwZNVsAINflw?format=jpg&name=360x360);
}

.parasite {
    background-image: url(https://pbs.twimg.com/media/FaHhnWyVQAAjFer?format=jpg&name=360x360);
}

.Tagahumika {
    background-image: url(https://pbs.twimg.com/media/FaHhTVTUUAE-lFa?format=jpg&name=360x360);
}

.osananajimi {
    background-image: url(https://pbs.twimg.com/media/FaHhnW0UYAA0B6-?format=jpg&name=360x360);
}

.myhero {
    background-image: url(https://pbs.twimg.com/media/FaHiOf7VUAAu8OW?format=jpg&name=360x360)
}

.mangaka {
    background-image: url(https://pbs.twimg.com/media/FaHhnW0UYAE3j-6?format=jpg&name=small)
}

.hitomebore {
    background-image: url(https://pbs.twimg.com/media/FaHiD8PVQAIqdc_?format=jpg&name=360x360)
}

.line {
    background-image: url(https://pbs.twimg.com/media/FaHiD8LVEAER4vI?format=jpg&name=small)
}

.nozokimi {
    background-image: url(https://pbs.twimg.com/media/FaHiOgYUUAMdUtj?format=jpg&name=small)
}

.zombie {
    background-image: url(https://pbs.twimg.com/media/FaHiOf8VEAEBxXK?format=jpg&name=360x360)
}

.sachan {
    background-image: url(https://pbs.twimg.com/media/FaHhTVUUIAA1GeT?format=jpg&name=360x360)
}

.anotoki {
    background-image: url(https://pbs.twimg.com/media/FaHiEaGUYAEo5to?format=jpg&name=360x360)
}

.deliquent {
    background-image: url(https://pbs.twimg.com/media/FaHiD8PVUAEQG_M?format=jpg&name=360x360)
}

.ashita {
    background-image: url(https://pbs.twimg.com/media/FcSzwhUakAAmXw7?format=jpg&name=4096x4096);
}

/* Responsive */
@media only screen and (max-width: 600px) {
    .ffp, .fchat {
        flex: 90%;
        overflow: visible;
        height: fit-content;
    }

    .fchat {
        display: block;
    }

    .text {
        font-size: smaller;
    }

    .search {
        width: 100%;
    }
}